.main{
    display: block;
}


  /* Media query for iPhone 14 - Minimum Width */
  @media only screen and (min-width: 390px) {
    /* Your styles for a minimum width of 390px */
    /* This will target screens with at least 390px in width, including iPhone 14. */
    .main{
        display: block;
    }
  }
  
  /* Media query for iPhone 14 - Minimum Height */
  @media only screen and (min-height: 844px) {
    /* Your styles for a minimum height of 844px */
    /* This will target screens with at least 844px in height, including iPhone 14. */

    .main-res{
        height: 90%;
    }

    .main{
        display: block;
    }

  }